<footer class="footer">
    <div class="footer-container">
        <div class="footer-top">
            <div>
                <ul class="link">
                    <li><a class="link-item" href="#">首頁</a></li>
                    <li><a class="link-item" href="#">系列鏡框</a></li>
                    <li><a class="link-item" href="#">門市據點</a></li>
                    <li><a class="link-item" href="#">部落格</a></li>
                    <li><a class="link-item" href="#">常見問題</a></li>
                </ul>
                <div class="contact">
                    <a href="#"><span class="material-symbols-outlined">call</span>0800-000-00</a>
                    <a href="#"><span class="material-symbols-outlined">mail</span>glasses@business.com</a>
                </div>
            </div>
            <ul class="social">
                <li class="social-item"><a href=""><img src="..//assets/images/ic-social-fb.png" alt=""></a></li>
                <li class="social-item"><a href=""><img src="..//assets/images/ic_social_ig.png" alt=""></a></li>            
                <li class="social-item"><a href=""><img src="..//assets/images/ic_social_line.png" alt=""></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p class="bottom-left">Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="bottom-right">
                <p>隱私權政策</p>
                <p>服務條款</p>
            </div>
        </div>
    </div>
</footer>