<footer class="footer bg-primary">
    <div class="container footer-top d-flex justifty-content-space-between">
        <div>
            <ul class="link d-flex">
                <li><a class="link-item" href="#">首頁</a></li>
                <li><a class="link-item" href="#">系列鏡框</a></li>
                <li><a class="link-item" href="#">門市據點</a></li>
                <li><a class="link-item" href="#">部落格</a></li>
                <li><a class="link-item" href="#">常見問題</a></li>
            </ul>
            <p class="contact"><a href="#"><span class="material-icons-outlined">phone</span>0800-000-00</a></p>
            <p class="contact"><a href="#"><span class="material-icons-outlined">email</span>glasses@business.com</a></p>
        </div>
        <ul class="social d-flex justifty-content-space-between">
            <li class="social-item"><a href=""><img src="..//assets/images/ic-social-fb.png" alt=""></a></li>
            <li class="social-item"><a href=""><img src="..//assets/images/ic_social_ig.png" alt=""></a></li>            
            <li class="social-item"><a href=""><img src="..//assets/images/ic_social_line.png" alt=""></a></li>
        </ul>
    </div>
    <div class="container d-flex justifty-content-space-between footer-bottom">
        <p class="bottom-left">Copyright © 2020 Glasses.All rights reserved.</p>
        <div class="bottom-right d-flex">
            <p>隱私權政策</p>
            <p>服務條款</p>
        </div>
    </div>
</footer>