<footer class="bg-primary">
    <div class="container footer">
        <div class="footer-top d-flex justify-content-space-between">
            <div>
                <ul class="nav d-flex">
                    <li><a class="nav-item text-white" href="http://localhost:5173/glassesweb-derry-week4/pages/index.html">首頁</a></li>
                    <li><a class="nav-item text-white" href="http://localhost:5173/glassesweb-derry-week4/pages/product-optical.html">系列鏡框</a></li>
                    <li><a class="nav-item text-white" href="http://localhost:5173/glassesweb-derry-week4/pages/stroe.html">門市據點</a></li>
                    <li><a class="nav-item text-white" href="http://localhost:5173/glassesweb-derry-week4/pages/blog.html">部落格</a></li>
                    <li><a class="nav-item text-white" href="http://localhost:5173/glassesweb-derry-week4/pages/about.html">常見問題</a></li>
                </ul>
                <p class="contact fz-36 fz-sm-16"><a class="text-white" href="#"><span class="material-icons-outlined">phone</span>0800-000-00</a></p>
                <p class="contact fz-36 fz-sm-16"><a class="text-white" href="#"><span class="material-icons-outlined">email</span>glasses@business.com</a></p>
            </div>
            <ul class="social d-flex justify-content-space-between">
                <li class="social-item"><a class="text-white" href="https://www.facebook.com/"><img src="..//assets/images/ic-social-fb.png" alt=""></a></li>
                <li class="social-item"><a class="text-white" href="https://www.instagram.com/"><img src="..//assets/images/ic_social_ig.png" alt=""></a></li>            
                <li class="social-item"><a class="text-white" href="https://tw.linebiz.com/login/"><img src="..//assets/images/ic_social_line.png" alt=""></a></li>
            </ul>
        </div>
        <div class="d-flex justify-content-space-between footer-bottom">
            <p class="bottom-left">Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="bottom-right d-flex">
                <p>隱私權政策</p>
                <p>服務條款</p>
            </div>
        </div>
    </div>
</footer>