<header class="header">
    <nav class="container header-wrapper">
        <a class="logo" href="#"><img src="../assets/images/logo-new_工作區域 1@2x.png" alt=""></a>
        <ul class="d-flex justifty-content-space-between align-items-center gap64">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a>
            </li>
        </ul>
    </nav>
</header>
