<header class="header bg-primary">
    <nav class="header-wrapper d-flex justifty-content-space-between align-items-center">
        <a class="logo" href="http://localhost:5173/glassesweb-derry-week4/pages/index.html"><img src="../assets/images/logo-new_工作區域 1.png" alt=""></a>
        <ul class="nav d-flex">
            <li class="nav-item"><a href="http://localhost:5173/glassesweb-derry-week4/pages/product.html">系列鏡框</a></li>
            <li class="nav-item"><a href="#">門市據點</a></li>
            <li class="nav-item"><a href="#">部落格</a></li>
            <li class="nav-item"><a href="#">常見問題</a></li>
        </ul>
    </nav>
</header>
