.footer{
    color: $color-4;
    padding-top: 48px;
    padding-bottom: 32px;
    @include mobile-larger{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &-top{
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid #fff;
        @include mobile-larger{
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    }
    .nav{
        margin-bottom: 36px;
        gap: 48px;
        @include mobile-larger{
            display: none;
        }
    }

    .material-icons-outlined{
        font-size: 36px;
        margin-right: 22px;
        @include mobile-larger{
            font-size: $fz-4;
            margin-right: 10px;
        }
    }

    .social-item{
        width: 48px;
        height: 48px;
        margin-left: 32px;
        @include mobile-larger{
            width: 24px;
            height: 24px;
            margin-left: 8px;
        }
    }
    
    &-bottom{
        font-size: 14px;
        font-weight: 300;
        @include mobile-larger{
            flex-direction: column;
            gap:8px;
        }
        .bottom-right{
            gap: 48px;
            @include mobile-larger{
                flex-direction: column;
                gap:8px
            }
        }
    }
}