.footer{
    background: $primary;
    &-container{
        max-width: 1320px;
        padding-left: 12px;
        padding-right: 12px;
        margin: 0 auto;
        color: $color-4;
    }
    &-top{
        display: flex;
        justify-content: space-between;
        padding-top: 48px;
        padding-bottom: 32px;
        border-bottom: 1px solid #fff;
        .link{
            display: flex;
            justify-content: space-between;
            gap: 45px;
            margin-bottom: 36px;
            &-item{
                padding: 6px;
            }
        }
        .social{
            display: flex;
            justify-content: space-between;
            gap: 32px;
            &-item{
                width: 48px;
                height: 48px;
            }
        }
        .contact{
            font-size: 36px;
            a{
                display: block;
                gap: 8px;
            }
            .material-symbols-outlined{
                font-size: 36px;
                margin-right: 22px;
            }
        }
    }
    &-bottom{
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        padding-bottom: 32px;
        .bottom-right{
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 767px){
    .footer-top{
        padding-top: 24px;
        padding-bottom: 20px;
        .link{
        display: none;
        }
        .contact{
            gap:8px;
            .material-symbols-outlined{
                font-size: 18px;
                margin-right: 10px;
            }
            a{
                font-size: 16px;
            }
        }
        .social{
            &-item{
                height: 24px;
            }
        }
    }
    .footer-bottom{
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 24px;
        .bottom-right{
            flex-direction: column;
            gap:8px;
            margin-top: 8px;
        }
    }
}