.footer{
    background: $primary;
    &-container{
        max-width: 1320px;
        padding-left: 12px;
        padding-right: 12px;
        margin: 0 auto;
        color: $color-4;
    }
    &-top{
        display: flex;
        justify-content: space-between;
        padding-top: 48px;
        padding-bottom: 32px;
        border-bottom: 1px solid #fff;
        .link{
            display: flex;
            justify-content: space-between;
            gap: 45px;
            &-item{
                padding: 6px;
            }
        }
        .social{
            display: flex;
            justify-content: space-between;
            gap: 32px;
            &-item{
                width: 48px;
                height: 48px;
            }
        }
        .contact{
            margin-top: 36px;
            font-size: 36px;
            a{
                display: block;
                gap: 8px;
            }
            .material-symbols-outlined{
                font-size: 36px;
                margin-right: 22px;
            }
        }
    }
    &-bottom{
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        padding-bottom: 32px;
        .bottom-right{
            display: flex;
            gap: 48px;
        }
    }
}

@media (max-width:576px){
    
}