$gap:24px;
$columns-num:12;

.container{
	max-width: 1320px;
	margin: 0 auto;
	padding-left: $gap/ 2;
	padding-right: $gap/ 2;
}

@for $i from 1 through 100{
	.py-#{$i}{
		padding-top: 1px * $i;
		padding-bottom: 1px * $i;
	}
}
@include mobile{
	@for $i from 1 through 100{
		.py-sm-#{$i}{
			padding-top: 1px * $i;
			padding-bottom: 1px * $i;
		}
	}
}

.btn-3{
	border: 1px solid #000;
	background: #fff;
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -($gap/ 2);
	margin-right: -($gap/ 2);
}

.column{
	padding-left: $gap/ 2;
	padding-right: $gap/ 2;
}

@for $i from 1 through 100{
	.gap-#{$i}{
		gap: 1px * $i;
	}
}

@include pad{
	@for $i from 1 through 100{
		.gap-md-#{$i}{
			row-gap: 1px * $i;
		}
	}
}

@include mobile{
	@for $i from 1 through 100{
		.gap-sm-#{$i}{
			row-gap: 1px * $i;
		}
	}
}

@for $i from 1 through 100{
	.row-gap-#{$i}{
		row-gap: 1px * $i;
	}
}

@include pad{
	@for $i from 1 through 100{
		.row-gap-md-#{$i}{
			row-gap: 1px * $i;
		}
	}
}

@include mobile{
	@for $i from 1 through 100{
		.row-gap-sm-#{$i}{
			row-gap: 1px * $i;
		}
	}
}

@for $i from 1 through $columns-num{
	.col-#{$i}{
		width: 100% * ($i / $columns-num);
		padding-left: $gap/ 2;
		padding-right:  $gap/ 2;
	}
}

@include pad{
	@for $i from 1 through $columns-num{
		.col-md-#{$i}{
			width: 100% * ($i / $columns-num);
			padding-left: $gap/ 2;
			padding-right:  $gap/ 2;
		}
	}
}

@include mobile{
	@for $i from 1 through $columns-num{
		.col-sm-#{$i}{
			width: 100% * ($i / $columns-num);
			padding-left: $gap/2;
			padding-right:  $gap/2;
		}
	}
}