.header{
	color: #fff;
	padding: 16px 0;
	width: 100%;
	@include mobile-larger{
		padding-bottom: 0;
	}
	&-wrapper{
		max-width: 1320px;
		padding-left: 12px;
		padding-right: 12px;
		margin: 0 auto;
		@include mobile-larger{
			flex-direction: column;
			align-items: flex-start;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.logo{
		width: 80px;
		height: 40px;
		@include mobile-larger{
			margin-left: 12px;
			margin-bottom: 16px;
		}
	}
	.nav{
		display: flex;
		font-size: $fz-5;
		@include mobile-larger{
			flex-wrap: wrap;
			width: 100%;
			gap:0;
			font-size: 16px;
		}
		&-item{
			@include mobile-larger{
				width: 50%;
				border: 1px solid #fff;
				text-align: center;
			}
		}
		&-item a{
			width: 100%;
			padding-top: 5px;
			padding-bottom: 5px;
			@include mobile-larger{
				padding-top: 12px;
				padding-bottom: 12px;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
