.header{
	color: #fff;
	padding: 16px 0;
	width: 100%;
	@include mobile-larger{
		padding-bottom: 0;
	}
	&-wrapper{
		@include mobile-larger{
			flex-direction: column;
			align-items: flex-start;
		}
	}
	.logo{
		width: 80px;
		height: 40px;
		@include mobile-larger{
			margin-left: 12px;
			margin-bottom: 16px;
		}
	}
	.nav{
		display: flex;
		font-size: $fz-5;
		@include mobile-larger{
			flex-wrap: wrap;
			width: 100%;
		}
		&-item{
			@include mobile-larger{
				width: 50%;
				border: 1px solid #fff;
				text-align: center;
			}
		}
		&-item a{
			padding: 8px 32px;
			@include mobile-larger{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
