@import url(https://fonts.google.com/?selected=Material+Icons);

//section-1
.banner-header{
	background-image: url('/assets/images/home-header.png');
	height: calc(100ch - 80px);
	background-position: left;
	@include pad{
		background-image: url('/assets/images/home-header-sm.png');
	}
	.title{
		color: $secondary;
		height: 100%;
		&-h1{
			font-weight: $text-bold;
			font-size: $fz-h1;
			@include mobile-larger{
				font-size: $fz-4;
			}
		}
		&-h3{
			font-size: $fz-h3;
			@include mobile-larger{
				font-size: 16px;
			}
		}
	}
}

.serve-bg{
	background-color: $bg-light;
	color: $secondary;
	text-align: center;
	.serve-h2{
		font-size: $fz-h2;
		font-weight: $text-bold;
		margin-bottom: 12px;
		@include mobile{
			font-size: $fz-4;
		}
	}
	.card{
		text-align: center;
		margin-top: 12px;
		margin-bottom: 12px;
		&-img{
			width: 86px;
			height: 86px;
		}
		&-h4{
			font-size: $fz-4;
			font-weight: $text-bold;
			margin-top: 16px;
			margin-bottom: 8px;
		}
		&-p{
			text-align: left;
		}
	}
}

.classical{
	text-align: center;
	h2{
	font-size: $fz-h2;
	color: $secondary;
	font-weight: $text-bold;
	margin-bottom: 24px;
	@include mobile{
		font-size: $fz-4;
		}
	}
	&-list{
		gap: 24px;
	}
	.card{
		@include pad{
			width: calc(50% - 12px);
			margin-top: 12px;
			margin-bottom: 12px;
		}
		@include mobile{
			width: calc(100% - 12px);
		}
		
		h3{
			font-size: $fz-h2;
			font-weight: $text-bold;
			color: $primary;
			margin-top: 8px;
		}
	}
}

.joint-bg{
	background-image: url('/assets/images/index-bg.png');
	@include pad{
		background-image: url('/assets/images/index-bg-sm.png');
	}

	h2{
		font-size: $fz-h2;
		color: $color-4;
		text-align: center;
		margin-bottom: 48px;
	}

	.card{
		width: 50%;
		@include pad{
			width: 100%;
		}
		&-title{
			font-size: $fz-h2;
			background: #fff;
			color: $primary;
			font-weight: $text-black;
			font-style: italic;
			text-align: center;
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
}

.recommend{
	&-title{
		text-align: center;
		font-size: $fz-h2;
		color: $secondary;
		font-weight: $text-bold;
		margin-bottom: 48px;
		@include mobile{
			font-size: $fz-4;
			margin-bottom: 24px;
		}
	}
	&-card{
		width: calc(25% - 12px);
		border: 1px solid #DEE2E6;
		box-shadow: #DEE2E6 0px 2px 6px ;
		border-radius: 4px 4px 4px 4px;
		@include pad{
			width: calc(50% - 12px);
		}
		@include mobile{
			width: 100%;
		}

		.card-pd{
			padding: 16px;
			height: 100%;
		}

		.card-name{
			margin-bottom: 8px;
			font-weight: 600;
		}

		.card-content{
			margin-bottom: 72px;
		}

		.time{
			
			color:#707070;
			font-size: 14px;
		}
	}
}

.contact{
	max-width: 648px;
	padding-left: 12px;
	padding-right: 12px;
	&-title{
		text-align: center;
		font-size: $fz-h2;
		color: $secondary;
		font-weight: 800;
		margin-bottom: 48px;
		@include mobile{
			font-size: $fz-4;
			margin-bottom: 24px;
		}
	}
	&-p{
		font-size: $fz-5;
		margin-bottom: 24px;
		@include mobile{
			font-size: 16px;
		}
	}

	&-form{
		margin-bottom: 48px;
		@include mobile{
			margin-bottom: 24px;
		}
	}
	&-label{
		display: block;
		margin-bottom: 8px;
	}
	&-input{
		border: 1px solid #000;
		display: block;
		margin-bottom: 8px;
		width: 100%;
		background: $bg-light;
		padding: 6px 12px;
	}
	&-input-2{
		border: 1px solid #000;
		width: 100%;
		background: $bg-light;
		padding: 6px 12px;
		margin-bottom: 16px;
	}
	.button-2{
		display: block;
		max-width: 416px;
		padding: 16px 172px;
		background: $primary;
		color: $color-4;
		margin: 0 auto;
		border: none;
		cursor: pointer;
		@include mobile{
			padding-left: 142px;
			padding-right: 142px;
		}
	}
	.button-2:hover{
		background: #650300;
	}
}
	