
.bg-primary{ 
	background-color: $primary;
}

.bg-secondary{
	background-color: $bg-light;
}

.banner{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.d-block{
	display: block;
}

.d-flex{
    display: flex;
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-direction-column{
	flex-direction: column;
}

.justifty-content-center{
	justify-content: center;
}

.justifty-content-space-between{
    justify-content: space-between;
}

.justifty-content-flex-end{
	justify-content: flex-end;
}

.align-items-center{
	align-items: center;
}

.align-items-flex-end{
	align-items: flex-end;
}

.text-align-center{
	text-align: center;
}

.nav :hover{
	font-weight: 800;
}