
.bg-primary{ 
	background-color: $primary;
}

.bg-secondary{
	background-color: $bg-light;
}

//text
.text-white{
	color: white;
}

.text-black{
	color: black;
}
.text-primary{
	color: $primary;
}
.fw-black{
	font-weight: $text-black;
}

.fw-bold{
	font-weight: $text-bold;
}

.fw-regular{
	font-weight: $text-regular;
}

.fw-medium{
	font-weight: $text-medium;
}

.text-align-center{
	text-align: center;
}

.text-align-right{
	text-align: right;
}


.banner{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.d-block{
	display: block;
}

.d-flex{
    display: flex;
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-direction-column{
	flex-direction: column;
}

.justify-content-center{
	justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-flex-end{
	justify-content: flex-end;
}

.align-items-center{
	align-items: center;
}

.align-items-flex-end{
	align-items: flex-end;
}

.position-relative{
	position: relative;
}

.position-absolute{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.nav :hover{
	font-weight: 800;
}