
//色系
$primary: #aa0601;
$secondary: #650300;
$bg-light: #fbf2f2;
$color-4: #fff;
$color-5: #000;

//字體大小
$fz-h1: 64px;
$fz-h2: 48px;
$fz-h3: 32px;
$fz-4: 24px;
$fz-5: 20px;

//字體粗細
$text-black: 900;
$text-bold: 700;
$text-medium:600;
$text-Regular:400;