<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="banner banner-sm-bg">
      <div class="container title">
        <h3 class="title-h3 fz-sm-h3">Promise-Desert 2020 早春系列</h3>
        <h1 class="title-h1 fz-sm-h1">看得清，才能看得遠</h1>
        <div>
          <a class="button-1" href="#">立即購買</a>
        </div>
      </div>
    </section>

    <section class="serve-banner">
      <div class="serve container serve-container-md serve-container-sm">
        <h2 class="serve-h2">用專業的心，做專業的事</h2>
        <ul class="serve-link d-flex" >
          <li class="item">
            <img class="item-img" src="/assets/images/home-section2-1.png" alt="price">
            <h4 class="item-h4">單一價格</h4>
            <p class="item-p">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="item">
            <img class="item-img" src="/assets/images/home-section2-2.png" alt="time">
            <h4 class="item-h4">20 分鐘即可取件</h4>
            <p class="item-p">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="item">
            <img class="item-img" src="/assets/images/home-section2-3.png" alt="serve">
            <h4 class="item-h4">安心售後服務</h4>
            <p class="item-p">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="item">
            <img class="item-img" src="/assets/images/home-sectioin2-4.png" alt="glasses">
            <h4 class="item-h4">關於鏡片</h4>
            <p class="item-p">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>

    <section>
      <div class="container product">
        <h2 class="fz-h2 fz-h2-sm">經典系列鏡框</h2>
        <ul class="product-card">
          <li class="card">
            <img src="/assets/images/home-section3-1.png" alt="OPTICAL">
            <h3 class="">OPTICAL</h3>
          </li>
          <li class="card">
            <img src="/assets/images/home-section3-2.png" alt="SUNGLASSES">
            <h3 class="">SUNGLASSES</h3>
          </li>
          <li class="card">
            <img src="/assets/images/home-section3-3.png" alt="FUNCTIONAL">
            <h3 class="">FUNCTIONAL</h3>
          </li>
        </ul>
      </div>
    </section>

    <section class="popular-banner">
      <div class="container popular popular-md popular-sm">
        <h2>聯名設計鏡框</h2>
        <ul class="popular-card">
          <li class="card">
            <img src="/assets/images/home-section4-1.png" alt="DOUBLE A+">
            <h3 class="fz-h2">DOUBLE A+</h3>
          </li>
          <li>
            <img src="/assets/images/home-section4-2.png" alt="YOUTH">
            <h3 class="fz-h2">YOUTH</h3>
          </li>
        </ul>
      </div>
    </section>

    <h1>我是內容</h1>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
