<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>系列鏡框-sunglasses</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" /><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <nav class="product-nav">
        <ul class="container link d-flex">
          <li class="link-item">
            <a href="http://localhost:5173/glassesweb-derry-week4/pages/product-optical.html">OPTICAL</a>
          </li>
          <li class="link-item">
            <a class="item-1" href="http://localhost:5173/glassesweb-derry-week4/pages/product-sunglasses.html">SUNGLASSES</a>
          </li>
          <li class="link-item">
            <a href="http://localhost:5173/glassesweb-derry-week4/pages/index.html">FUNCTIONAL</a>
          </li>
         </ul>
      </nav>
      <section>
        <div class="d-flex">
            <picture class="banner-card">
              <source srcset="../assets/images/product-header-sm-3.png" media="(max-width:768px)"/>
              <img src="/assets/images/product-header-3.png" alt="YOUTH">
            </picture>
            <picture class="banner-card">
              <source srcset="../assets/images/product-header-sm-4.png" media="(max-width:768px)"/>
              <img src="/assets/images/product-header-4.png" alt="YOUTH">
            </picture>
        </div>
      </section>

      <section class="py-80 py-sm-40">
        <div class="container product">
          <h1 class="title">2020 NEW COLLECTION</h1>
          <p class="title-p">賽璐珞鈦金屬混合鏡框</p>
            <ul class="product-list row row-gap-80 row-gap-md-40 row-gap-sm-24">
              <li class="card col-4 col-md-6 col-sm-12">
                <img src="/assets/images/product-7.png" alt="">
                <div class="d-flex justifty-content-space-between">
                  <h4 class="card-title">BJ41600S</h4>
                  <p class="card-price">NTD3,490</p>
                </div>
                <ul class="d-flex gap-8">
                  <li class="color-card product-color-1"></li>
                  <li class="color-card product-color-2"></li>
                </ul>
              </li>
              <li class="card col-4 col-md-6 col-sm-12">
                <img src="/assets/images/product-8.png" alt="">
                <div class="d-flex justifty-content-space-between">
                  <h4 class="card-title">BJ41600S</h4>
                  <p class="card-price">NTD3,490</p>
                </div>
                <ul class="d-flex gap-8">
                  <li class="color-card product-color-1"></li>
                  <li class="color-card product-color-2"></li>
                </ul>
              </li>
              <li class="card col-4 col-md-6 col-sm-12">
                <img src="/assets/images/product-9.png" alt="">
                <div class="d-flex justifty-content-space-between">
                  <h4 class="card-title">BJ41600S</h4>
                  <p class="card-price">NTD3,490</p>
                </div>
                <ul class="d-flex gap-8">
                  <li class="color-card product-color-1"></li>
                  <li class="color-card product-color-2"></li>
                </ul>
              </li>
              <li class="card col-4 col-md-6 col-sm-12">
                <img src="/assets/images/product-10.png" alt="">
                <div class="d-flex justifty-content-space-between">
                  <h4 class="card-title">BJ41600S</h4>
                  <p class="card-price">NTD3,490</p>
                </div>
                <ul class="d-flex gap-8">
                  <li class="color-card product-color-1"></li>
                  <li class="color-card product-color-2"></li>
                </ul>
              </li>
              <li class="card col-4 col-md-6 col-sm-12">
                <img src="/assets/images/product-11.png" alt="">
                <div class="d-flex justifty-content-space-between">
                  <h4 class="card-title">BJ41600S</h4>
                  <p class="card-price">NTD3,490</p>
                </div>
                <ul class="d-flex gap-8">
                  <li class="color-card product-color-1"></li>
                  <li class="color-card product-color-2"></li>
                </ul>
              </li>
              <li class="card col-4 col-md-6 col-sm-12">
                <img src="/assets/images/product-12.png" alt="">
                <div class="d-flex justifty-content-space-between">
                  <h4 class="card-title">BJ41600S</h4>
                  <p class="card-price">NTD3,490</p>
                </div>
                <ul class="d-flex gap-8">
                  <li class="color-card product-color-1"></li>
                  <li class="color-card product-color-2"></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <ul class="page my-sm-24 d-flex justifty-content-center">
          <li class="page-item"><a class="text-davy-gray fz-19 py-11 px-12" href="#">上一頁</a></li>
          <li class="page-item"><a class="text-davy-gray fz-18 py-12 px-16" href="#">1</a></li>
          <li class="page-item bg-black"><a class="text-white fz-18 py-12 px-16" href="#">2</a></li>
          <li class="page-item"><a class="text-davy-gray fz-18 py-12 px-16" href="#">3</a></li>
          <li class="page-item"><a class="text-davy-gray fz-18 py-12 px-16" href="#">4</a></li>
          <li class="page-item"><a class="text-davy-gray fz-18 py-12 px-16" href="#">5</a></li>
          <li class="page-item bg-gray95"><a class="text-davy-gray fz-19 py-11 px-12" href="#">下一頁</a></li>
        </ul>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
